<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>MovieDrive</title>

  <script src="components/webcomponentsjs/webcomponents.min.js"></script>
  <link rel="import" href="polymer_components/movie_card.html">
  <link rel="import" href="polymer_components/backdrop_card.html">
  <link rel="import" href="polymer_components/star_rating.html">
  <!-- Page styles -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel="stylesheet" href="/css/material.min.css"> -->
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.light_green-blue.min.css" /> 

  <link href="/css/index.css" rel="stylesheet">

  <script type="text/javascript">
    // movie data recieved from server
    var movies = <%- JSON.stringify(movies) %> ;
    // Browser API key
    var developerKey = "AIzaSyDBT-4MAyZ1_Z92vX5_uSCZRhXlLesG48g";
    // Client ID, required by oauth2
    var CLIENT_ID = '169353091474-fms13nkdpeao8m2anr7uutsjsqi20aq3.apps.googleusercontent.com';
    // App ID(application number)
    var appId = "169353091474";
    // Scope to use to access user's Drive Items.
    var SCOPES = ['https://www.googleapis.com/auth/drive'];


    var PickerApiLoaded = false;
    var oauthToken = null;
    function loadPicker(){
      gapi.load('auth', {callback: onAuthApiLoad});
      gapi.load('picker', {callback: onPickerApiLoad});
      gapi.load("client", {callback: onClientApiLoad});
    }

    function onAuthApiLoad(){
      gapi.auth.authorize({
        "client_id": CLIENT_ID,
        "scope": SCOPES,
        "immediate": true
      }, handleAuthResult);
    }

    function onPickerApiLoad(){
      PickerApiLoaded = true
    }

    function onClientApiLoad(){
      gapi.client.load("drive", "v2");
    }

    function handleAuthResult(authResult){
      if(authResult && !authResult.error){
        oauthToken = authResult.access_token;
        $('#refresh').show();
        $('#refreshAll').show();
        $('#authButton').hide();
        $("#movie-list").show();
      }
      else {
        $('#refresh').hide();
        $('#refreshAll').hide();
        $('#authButton').show();
        $("#movie-list").hide();
      }
    }

    function createDocPicker(parentFolder){
      if(PickerApiLoaded && oauthToken){
        var view = new google.picker.DocsView();
        view.setMode(google.picker.DocsViewMode.LIST);
        if(parentFolder) view.setParent(parentFolder);
        var picker = new google.picker.PickerBuilder()
                    .enableFeature(google.picker.Feature.NAV_HIDDEN)
                    .setAppId(appId)
                    .setOAuthToken(oauthToken)
                    .addView(view)
                    // .setDeveloperKey(developerKey)
                    .hideTitleBar()
                    .setCallback(DocpickerCallback)
                    .build();
        picker.setVisible(true);
      }
    }

    function createUploadPicker(parentFolder){
      if(PickerApiLoaded && oauthToken){
        var view = new google.picker.DocsUploadView();
        view.setIncludeFolders(true);
        if(parentFolder) view.setParent(parentFolder);
        var picker = new google.picker.PickerBuilder()
                    .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
                    .enableFeature(google.picker.Feature.NAV_HIDDEN)
                    .setAppId(appId)
                    .setOAuthToken(oauthToken)
                    .addView(view)
                    .hideTitleBar()
                    .setCallback(UploadpickerCallback)
                    .build();
        picker.setVisible(true);
      }
    }

    function DocpickerCallback(data){
      console.log(data);
      if(data.action == google.picker.Action.PICKED){
        window.open(data.docs[0].url, "_blank");
      }
    }
    function UploadpickerCallback(data){
      console.log(data);
      if(data.action == google.picker.Action.PICKED){
        updateMovieList(false);
      } 
    }

    function checkAuth() {
      gapi.auth.authorize({
        'client_id': CLIENT_ID, 'scope': SCOPES, 'immediate': true
      }, handleAuthResult2);
    }

    function handleAuthClick(event){
      gapi.auth.authorize({
        "client_id": CLIENT_ID,
        "scope": SCOPES,
        "immediate": false
      }, handleAuthResult);
    }
  </script>
  <script src="https://apis.google.com/js/api.js?onload=loadPicker"></script>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <span class="android-title mdl-layout-title">
        <i class="material-icons">video_library</i>MovieDrive
      </span>
      <!-- Add spacer, to align navigation to the right in desktop -->
      <div class="mdl-layout-spacer"></div>
      <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search" placeholder="title or year"/>
        </div>
      </div>
      <!-- Navigation -->
      <div class="android-navigation-container">
        <nav class="android-navigation mdl-navigation">
          <div class="mdl-navigation__link mdl-typography--text-uppercase" id="refresh" style="display: none;" href=""><i class='material-icons'>cached</i>Refresh</div>
          <div class="mdl-navigation__link mdl-typography--text-uppercase" id="refreshAll" style="display: none;" href=""><i class='material-icons'>refresh</i>Force Refresh</div>
          <div class="mdl-navigation__link mdl-typography--text-uppercase" id="authButton" style="display: none;" href=""><i class='material-icons'>lock open</i>auth</div>
        </nav>
      </div>
    </div>
  </div>

  <div class="android-drawer mdl-layout__drawer">
    <span class="mdl-layout-title">
      <i class="material-icons">video_library</i>MovieDrive
    </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#" id="sortTitle">By Title</a>
      <a class="mdl-navigation__link" href="#" id="sortRate">By Rating</a>
      <div class="android-drawer-separator"></div>
      <a class="mdl-navigation__link" href="#" id="sortMDate">By Modified Date</a>
      <a class="mdl-navigation__link" href="#" id="sortDate">By Release Date</a>
      <div class="android-drawer-separator"></div>
      <a class="mdl-navigation__link" href="https://drive.google.com/drive/u/1/folders/0B50CePww-EvZflNDMGJIaU1lZ3ZIM2ZHREJQMEhrYk1fZmtENDhtc25nSFFFSE5XNndpXzg">
        <img src='gDrive.png' style='height: 20px;'> View in Drive
      </a>

    </nav>
  </div>

  <div class="mdl-layout__content">
    <div id='movie-list' style="display: none"></div>
    <!-- <backdrop-card id="0B52zgc7Q4oEjfk5kTlMzTXd0WXNEYjJ3c2dVMVRXMUw0ZW9zVzI3VWFBZjUwcTJvNDctQ2s" index="9"></backdrop-card> -->
  </div>
</div>

</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/js/material.min.js"></script>

<script type="text/javascript" src="js/index.js"></script>

</html>
