<html>
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

  <script src="components/webcomponentsjs/webcomponents.min.js"></script>
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css" rel="stylesheet"> -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/index.css">

  <link rel="import" href="components/font-roboto/roboto.html">
  <link rel="import" href="components/paper-progress/paper-progress.html">
  <link rel="import" href="components/paper-header-panel/paper-header-panel.html">
  <link rel="import" href="components/paper-toolbar/paper-toolbar.html">
  <link rel="import" href="components/paper-button/paper-button.html">
  <link rel="import" href="components/paper-input/paper-input.html">
  <link rel="import" href="components/iron-input/iron-input.html">
  <link rel="import" href="components/paper-drawer-panel/paper-drawer-panel.html">
  <link rel="import" href="components/paper-item/paper-item.html">
  <link rel="import" href="components/paper-item/paper-icon-item.html">
  <link rel="import" href="polymer_components/card.html">
  <link rel="import" href="polymer_components/star_rating.html">
  <script type="text/javascript">
    var CLIENT_ID = '169353091474-fms13nkdpeao8m2anr7uutsjsqi20aq3.apps.googleusercontent.com';
    var SCOPES = ['https://www.googleapis.com/auth/drive'];

    function checkAuth() {
      gapi.auth.authorize({
        'client_id': CLIENT_ID, 'scope': SCOPES, 'immediate': true
      }, handleAuthResult);
    }

    function handleAuthClick(event){
      gapi.auth.authorize({
        'client_id': CLIENT_ID, 'scope': SCOPES, 'immediate': false
      }, handleAuthResult);
    }

    function handleAuthResult(authResult){
      console.log(authResult);

      if(authResult && !authResult.error){
        $('#refresh').show();
        $('#refreshAll').show();
        $('#authButton').hide();
        gapi.client.load("drive", "v2");
      } else {
        $('#refresh').hide();
        $('#refreshAll').hide();
        $('#authButton').show();
      }
    }
  </script>
  <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
</head>
<body>

<paper-drawer-panel>
  <paper-header-panel drawer>
    <paper-toolbar>
      <div class="title"><i class='fa fa-film'></i>MovieDrive</div>
    </paper-toolbar>
    <div>
      <paper-icon-item id="sortTitle">
        <i class="fa fa-sort-alpha-asc" item-icon></i>
        By Title
      </paper-icon-item>
      <paper-icon-item id="sortRate">
        <i class="fa fa-sort-numeric-desc" item-icon></i>
        By Rating
      </paper-icon-item>
      <paper-icon-item id="sortDate">
        <i class="fa fa-sort" item-icon></i>
        By Release Date
      </paper-icon-item>

      <paper-input-container auto-validate alwaysFloatLabel>
      <label>Search</label>
      <input is="iron-input" id="search">
    </paper-input-container>
      <paper-icon-item onclick="window.location='https://drive.google.com/drive/u/1/folders/0B50CePww-EvZflNDMGJIaU1lZ3ZIM2ZHREJQMEhrYk1fZmtENDhtc25nSFFFSE5XNndpXzg'">
        <img src='gDrive.png' style='height: 20px;' item-icon> 
        View in Drive
      </paper-icon-item>
    </div>
  </paper-header-panel>
  <paper-header-panel main>
    <paper-toolbar>
      <paper-button paper-drawer-toggle>
          <i class="fa fa-bars"></i>
      </paper-button>
    
    

<!-- 
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Title or Date" id="search">
        </div>
      </form>
 -->
    <paper-button href="#" id='refresh' style="display: none;">
      <i class='fa fa-refresh'></i>Refresh
    </paper-button>
    <paper-button href="#" id='refreshAll' style="display: none;">
      <i class='fa fa-refresh'></i>force Refresh
    </paper-button>
    <paper-button href="#" id='authButton' onclick="handleAuthClick()" style="display: none;">
      <i class='fa fa-unlock'></i>Refresh
    </paper-button>
    

    </paper-toolbar>
    <div id='movie-list'></div>
  </paper-header-panel>
</paper-drawer-panel>

</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script>
  var movies = <%- JSON.stringify(movies) %> ;
</script>
</html>
