html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

* { box-sizing: border-box; }

body { background-color: #e6e6e6; font-family: Roboto; }

a, a:hover, a:focus, a:active { color: inherit; text-decoration: none; }
a img { border: 0px; }

textarea:disabled { background-color: transparent; border: 0; width: 100%; color: inherit; font-size: inherit; font-family: inherit; resize: none; padding: 0; }

.material-icons { font-size: inherit; }

#refreshAll { -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
#refreshAll:hover { color: red; }

.android-header .android-title { -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; -webkit-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.android-header .android-search-box { -webkit-box-ordinal-group: 3; -moz-box-ordinal-group: 3; -ms-box-ordinal-group: 3; box-ordinal-group: 3; -webkit-order: 2; order: 2; margin-left: 16px; margin-right: 16px; }
.android-header .android-navigation-container { /* Simple hack to make the overflow happen to the left instead... */ direction: rtl; -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; -ms-box-ordinal-group: 2; box-ordinal-group: 2; -webkit-order: 1; order: 1; width: 500px; -moz-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1); -o-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1); -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1); transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
.android-header .android-navigation-container .android-navigation { direction: ltr; -webkit-justify-content: flex-end; justify-content: flex-end; -webkit-box-pack: end; -moz-box-pack: end; -ms-box-pack: end; box-pack: end; width: 800px; }
.android-header .android-navigation-container .android-navigation .mdl-navigation__link:hover { border-bottom: 4px solid #8bc34a; }
.android-header .android-more-button { -webkit-box-ordinal-group: 4; -moz-box-ordinal-group: 4; -ms-box-ordinal-group: 4; box-ordinal-group: 4; -webkit-order: 3; order: 3; }
.android-header .android-search-box.is-focused ~ .android-navigation-container { opacity: 0; width: 100px; }
@media only screen and (max-width: 768px) { .android-header .android-navigation-container { display: none; }
  .android-header .android-title { position: relative; left: calc(50% - 61.5px); }
  .android-header .android-search-box.is-focused ~ .android-title { opacity: 0; } }

.mdl-layout__drawer { border-right: 0px; }
.mdl-layout__drawer > .mdl-layout-title { background: #2D3E9F; color: white; }
.mdl-layout__drawer .android-drawer-separator { height: 1px; background-color: #dcdcdc; margin: 8px 0; }
.mdl-layout__drawer .mdl-navigation__link[selected] { background-color: #C7CFFC; }
