body{
  background-color: #e5e5e5;
  font-family: Roboto;
}

a, a:hover, a:focus, a:active{
  color: inherit;
  text-decoration: none;
}

.movie-row{
  margin-bottom: 10px;
}

a#refreshAll:hover {
  color: red;
}